{% extends "layout.html" %}

{% block local_dependencies %} 
  <script src="{{ url_for('static', filename='vendor/bootstrap-autocomplete-2.3.0/bootstrap-autocomplete.min.js') }}" ></script>
{% endblock %}

{% block navigation %} 
    {% include "navigation.html" %}
{% endblock %}

{% block content %}

{% include "gallery.html" %}

<div id="content" class="h-100 mx-auto my-auto">
  <div class="d-flex justify-content-center ">
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>


<script>
$( document ).ready(function() {

  var transform = {
      "prod_selected": {'<>':'span', 'html':'Selected: ${product_name} <small><b>[ ID: ${lnhpd_id} ]</b></small>'},
      "npn_prpsl": {"<>":"span","class":"badge mw-100 badge-info m-1","html":" ${npn} "},
      "prod_prpsl": {"<>":"span","class":"badge mw-100 badge-info m-1","html":" ${product_name} "},
      "comp_prpsl": {"<>":"span","class":"badge  mw-100 badge-info m-1","html":" ${company_name} "},
      "main" : {"<>":"div","class":"row","html":[
                    {"<>":"div","class":"col-md-6 mb-4","html":[
                        {"<>":"div","class":"card shadow-sm","html":[
                            {"<>":"div","class":"card-header bg-primary text-white", 'id':"selected-info", "html":function(o){
                              if (o.lnhpd_id) 
                                    return $.json2html(o, transform.prod_selected);
                              return "Search Product"
                            }},
                            {"<>":"div","class":"card-body","html":[
                                {"<>":"fieldset","html":[
                                    {"<>":"div","class":"input-group input-group mb-2","html":[
                                        {"<>":"div","class":"input-group-prepend","html":[
                                            {"<>":"span","class":"input-group-text","html":"NPN"}
                                          ]},
                                        {"<>":"input","id":"npn-input","class":"form-control product autocomplete","type":"text",
                                                      "data-url":"{{ url_for('search_npn') }}","data-noresults-text":"No match found",
                                                      "autocomplete":"off","value":"${npn}"}
                                      ]},
                                    {"<>":"h6","class":" mb-4","html":[
                                      {"<>":"span", "class":"text-muted","html":""},
                                      {"<>":"span", "class":"npn_prpsl", "html":function(o){
                                        if (o.npn_prpsl)
                                          return $.json2html(o.npn_prpsl, transform.npn_prpsl);
                                        else 
                                          return '<br/>';
                                      }}
                                    ]},
                                    {"<>":"div","class":"input-group input-group mb-2","html":[
                                        {"<>":"div","class":"input-group-prepend","html":[
                                            {"<>":"span","class":"input-group-text","html":"Product "}
                                          ]},
                                        {"<>":"input","id":"pn-input","class":"form-control product autocomplete",
                                                       "type":"text","data-url":"{{ url_for('search_pn') }}",
                                                       "data-noresults-text":"No match found",
                                                       "autocomplete":"off","value":"${product_name}"}
                                      ]},
                                    {"<>":"h6","class":" mb-4","html":[
                                      {"<>":"span", "class":"text-muted","html":""},
                                      {"<>":"span", "class":"prod_prpsl", "html":function(o){
                                        if (o.prod_prpsl)
                                          return $.json2html(o.prod_prpsl, transform.prod_prpsl);
                                        else 
                                          return '<br/>';
                                      }}
                                    ]},
                                    {"<>":"div","class":"input-group input-group mb-2","html":[
                                        {"<>":"div","class":"input-group-prepend","html":[
                                            {"<>":"span","class":"input-group-text","html":"Company "}
                                          ]},
                                        {"<>":"input","id":"cn-input","class":"form-control product autocomplete",
                                                      "type":"text","data-url":"{{ url_for('search_cn')}}",
                                                      "data-noresults-text":"No match found",
                                                      "autocomplete":"off","value":"${company_name}"}
                                      ]},
                                    {"<>":"h6","class":" mb-4","html":[
                                      {"<>":"span", "class":"text-muted","html":""},
                                      {"<>":"span", "class":"comp_prpsl", "html":function(o){
                                        if (o.comp_prpsl)
                                          return $.json2html(o.comp_prpsl, transform.comp_prpsl);
                                        else 
                                          return '<br/>';
                                      }}
                                    ]}
                                  ]},
                                {"<>":"button", "id": "clear-btn", "class":"btn btn-info card-link float-right m-2","html":"Clear"}
                                
                              ]}
                          ]}
                      ]},
                    {"<>":"div","class":"col-md-6","html":[
                        {"<>":"div","class":"card shadow-sm","html":[
                            {"<>":"div","class":"card-header bg-warning ","html":"LNHPD Products"},
                            {"<>":"div","id":"best-matches","class":"card-body","html":"No Matches Found"}
                          ]}
                      ]}
                  ]},
    "loading": {"<>":"div","class":"d-flex justify-content-center ","html":[
                  {"<>":"div","class":"spinner-grow text-primary","role":"status","html":[
                      {"<>":"span","class":"sr-only","html":"Loading..."}
                    ]},
                  {"<>":"div","class":"spinner-grow text-secondary","role":"status","html":[
                      {"<>":"span","class":"sr-only","html":"Loading..."}
                    ]},
                  {"<>":"div","class":"spinner-grow text-success","role":"status","html":[
                      {"<>":"span","class":"sr-only","html":"Loading..."}
                    ]},
                  {"<>":"div","class":"spinner-grow text-danger","role":"status","html":[
                      {"<>":"span","class":"sr-only","html":"Loading..."}
                    ]},
                  {"<>":"div","class":"spinner-grow text-warning","role":"status","html":[
                      {"<>":"span","class":"sr-only","html":"Loading..."}
                    ]}
                ]},
    "product":{"<>":"div","class":"btn-light border p-2 pl-4 m-1  ","onclick":select_action,"html":[
                  {"<>":"h6","class":"text-success m-0","html":"${product_name} "},
                  {"<>":"div","class":"text-secondary font-weight-bold small","html":"${company_name} "},
                  {"<>":"div","class":"text-info small","html":"NPN: ${npn} / ID: ${lnhpd_id}"},
                  {"<>":"div","class":"text-detail","html":""}
                ]}
  }; //var template

  var main_container    = '#content';
  var matches_container = '#best-matches';
  var clear_btn         = '#clear-btn';
  var npn_input         = '#npn-input';
  var pn_input          = '#pn-input';
  var cn_input          = '#cn-input';
  var lid_input         = '#lid-input';
  var selected_flag     = false;

  var product_proposal = null;

  var no_proposal_toid = setTimeout(function(){location.reload(true);}, 90*1000);

  $.get("{{ url_for('get_product_info') }}", function(response){
    
    clearTimeout(no_proposal_toid);
    product_proposal = response;
    initialize_form(product_proposal);
  }); // $.get(/get_product_info)

  
  function select_action(o) {

    product_proposal.lnhpd_id     = o.obj.lnhpd_id;
    product_proposal.npn          = o.obj.npn;
    product_proposal.company_name = o.obj.company_name;
    product_proposal.product_name = o.obj.product_name;
    
    postJson("{{ url_for('update_product') }}", product_proposal, function(response){
      product_proposal = response;
      console.log('Update Response', response);
      initialize_form(product_proposal);
    })
  }
  function clear_action() {
    
    product_proposal.lnhpd_id = '';
    product_proposal.npn ='';
    product_proposal.company_name = '';
    product_proposal.product_name = '';

    postJson("{{ url_for('update_product') }}", product_proposal, function(response){
      console.log('Clear Response', response);
      product_proposal = response;
      initialize_form(product_proposal);
    });
    
    
  }
  function search_action(){


    product_proposal.npn          = $(npn_input).val();
    product_proposal.company_name = $(cn_input).val();
    product_proposal.product_name = $(pn_input).val();

  
    var options = {
      "npn":          product_proposal.npn,
      "company_name": product_proposal.company_name,
      "product_name": product_proposal.product_name
    }
    console.log('Product searching with', options);
    
    $(matches_container).empty();
    $(matches_container).json2html([1], transform.loading);

    
    postJson("{{ url_for('update_product') }}", product_proposal, function(r){
      
      $.get('{{ url_for("best_product_matches")}}',options, function(response){
        
        if (response && response.length)
        {
          $(matches_container).empty();
          $(matches_container).json2html(response, transform.product);
          $(matches_container).removeClass('card-body');
        }
        else {
          $(matches_container).empty();
          $(matches_container).html("No Matches Found");
          $(matches_container).addClass('card-body');
        }
      });
    
    });

    
    
  }

  function initialize_form(product_proposal) {

      $(main_container).removeClass('h-100 row mx-auto my-auto');
      $(main_container).html('');
      $(main_container).json2html([product_proposal],transform.main);
      var min_length = 1;

      $(npn_input).autoComplete({
        minLength:min_length,
        events: {
            searchPost: function (json) {
                return $.map(json, function(v){ return v.npn});
            }
        }
      });
      $(cn_input).autoComplete({
        minLength:min_length,
        events: {
            searchPost: function (json) {
                return $.map(json, function(v){ return v.company_name});
            }
        }
      });
      $(pn_input).autoComplete({
        minLength:min_length,
        events: {
            searchPost: function (json) {
                return $.map(json, function(v){ return v.product_name});
            }
        }
      });

      
      // var timeout  = undefined;
      // var interval = 1000;
      $('.autocomplete').on('keyup change autocomplete.select', function(e){
        clearTimeout(timeout);
        if ($(e.currentTarget).val().length >= min_length)
            timeout = setTimeout(search_action, interval);
      });
    
      $('.comp_prpsl .badge').click(function(e){
        if (!selected_flag) {
          $(cn_input).val($(this).text());
          $(cn_input).trigger('change');
        }
      });
      $('.prod_prpsl .badge').click(function(e){
        if (!selected_flag) {
          $(pn_input).val($(this).text());
          $(pn_input).trigger('change');
        }
        
      });
      $('.npn_prpsl .badge').click(function(e){
        if (!selected_flag){
          $(npn_input).val($(this).text());
          $(npn_input).trigger('change');
        }
      });

      
      $(clear_btn).click(function(e){
        console.log('Clear action button');
        clearTimeout(timeout);
        clear_action();
      })

      if (product_proposal.lnhpd_id){
        selected_flag = true;
        $('.product').attr('disabled','true');
        search_action();
      }
      else {
        $('.product').removeAttr('disabled');
        selected_flag = false;
      }
        
  } // initialize_form
  });
</script>


{% endblock content%}
