{% extends "layout.html" %}

{% block navigation %} 
    {% include "navigation.html" %}
{% endblock %}

{% block content %}
<div id="content" class="h-100 mx-auto my-auto">
    <div class="d-flex justify-content-center ">
      <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-secondary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-warning" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

{% endblock content%}

