[Unit]
Description=systemd service with docker compose
Requires=docker.service
After=docker.service

[Service]
Restart=always

WorkingDirectory=/home/cyclops/cyclops/

# Remove old containers, images and volumes
ExecStartPre=/usr/bin/docker-compose down -v
ExecStartPre=/usr/bin/docker-compose rm -fv

# Compose up
ExecStart=/bin/bash /home/cyclops/deploy.sh

# Compose down, remove containers and volumes
ExecStop=/usr/bin/docker-compose down -v

[Install]
WantedBy=multi-user.target
