pillow
unidecode
fastapi
uvicorn
python-multipart
requests
python-Levenshtein
wand
six
natsort
pytesseract
scikit-image
pandas
numpy
shapely
nltk
tqdm
networkx
loguru
symspellpy
opencv-contrib-python
spacy
sqlite-utils
pymongo
