<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>


	<session-factory>
	
	<!-- fowllowing two Added by Tfang in ordet to let Ingredient web service to use smoothly -->
	 <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
 	<property name="hibernate.cache.region.factory_class"> org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
 	
		
		<!-- All other settings moved to the DataSourceConfiguration class. -->
		<property name="current_session_context_class">thread</property>
		
		<property name="hibernate.default_batch_fetch_size">10</property>
		<property name="hibernate.cache.use_query_cache">true</property>

        <!-- FormBuilder mapping files -->
   		<mapping resource="ca/gc/hc/nhpd/model/ApplicationProperty.hbm.xml"/>
		<mapping resource="ca/gc/hc/nhpd/model/ApplicationText.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/ApplicationType.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/Attachment.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/AuditEntry.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/ChemicalClass.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/ChemicalSubclass.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/Citation.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/CitationSpecialization.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/CodedRisk.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/CommonTerm.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/CommonTermType.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/ContextSensitiveCitations.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/Country.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/DietaryAllowance.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/DosageForm.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/DosageFormGroup.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/DosageRange.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/DosageUnit.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/EvidenceType.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/Family.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/Genus.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/GeographicArea.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/HomeopathicDilution.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/HomeopathicFormula.hbm.xml"/> 
        <mapping resource="ca/gc/hc/nhpd/model/HomeopathicGenericText.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/HomeopathicMethodOfPreparation.hbm.xml"/> 
        <mapping resource="ca/gc/hc/nhpd/model/HomeopathicPreparationType.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/IchClass.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/ImpuritySubstance.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/Indication.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/IndicationType.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/Ingredient.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/IngredientCategory.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/IngredientRole.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/IngredientRoleSpecialization.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/IngredientSource.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/IngredientSpecialization.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/Journal.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/ManufacturingProcess.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/MeddraPreferredTerm.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/MicrobiologicalImpurity.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/Monograph.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/MonographCitationJoin.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/MonographDirectionForUse.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/MonographDose.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/MonographDoseCombination.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/MonographDuration.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/MonographEntry.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/MonographGroup.hbm.xml"/>        
        <mapping resource="ca/gc/hc/nhpd/model/MonographPhase.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/MonographPreparation.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/MonographRiskStatement.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/MonographRouteOfAdministration.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/MonographSourceIngredient.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/MonographSourceOrganismPart.hbm.xml"/>        
        <mapping resource="ca/gc/hc/nhpd/model/MonographSubIngredientCombination.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/MonographSubIngredientDose.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/MonographSubIngredientDoseCombination.hbm.xml"/>        
        <mapping resource="ca/gc/hc/nhpd/model/MonographType.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/MonographUse.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/NhpClassification.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/NonMedicinalPurpose.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/Organism.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/OrganismGroup.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/OrganismPart.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/OrganismPartType.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/OrganismType.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/OrganismTypeGroup.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/Permission.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/PreparationRule.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/PreparationType.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/PreparationTypeGroup.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/ProductType.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/ProvinceState.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/QualifiedSynonym.hbm.xml"/>        
        <mapping resource="ca/gc/hc/nhpd/model/QuantityToleranceModel.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/Rationale.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/Reference.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/RegistryEntry.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/RecommendedDietaryAllowance.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/Restriction.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/RestrictionType.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/Risk.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/RiskType.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/RouteOfAdministration.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/Solvent.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/Species.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/StandardOrGradeReference.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/SubIngredient.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/SubPopulation.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/SubTaxa.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/Synonym.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/Taxon.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/TestCategory.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/TestMethod.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/TestMethodType.hbm.xml"/>        
        <mapping resource="ca/gc/hc/nhpd/model/TestMethodSubtype.hbm.xml"/>        
        <mapping resource="ca/gc/hc/nhpd/model/TextMonographSourceMaterial.hbm.xml"/>        
        <mapping resource="ca/gc/hc/nhpd/model/TestSpecification.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/Text.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/TraditionalParadigm.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/Units.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/UnitsType.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/UserAccount.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/UserRole.hbm.xml"/>
        <mapping resource="ca/gc/hc/nhpd/model/UseType.hbm.xml"/>

	</session-factory>

</hibernate-configuration>